{{- if ne .Values.create false -}}
{{ $statefulset := or .Values.statefulset ((.Values).global).statefulset }}
apiVersion: v1 
kind: Service 
metadata:
  name: {{ include "cv.metadataname" . }}
  namespace: {{ include "cv.namespace" . }}
  {{- include "cv.csserviceannotations" . }}
  labels:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}
spec:      
  type: ClusterIP
  ports:
    - name: cvfwd
      port: {{ include "cv.cvfwdport" . }}
      targetPort: {{ include "cv.cvfwdport" . }}
      protocol: TCP 
    - name: cvd
      port: 8400
      targetPort: 8400
      protocol: TCP 
    - name: webservice
      port: 5000
      targetPort: 5000
    - name: javaconsole
      port: 8401
      targetPort: 8401             
      protocol: TCP 
    - name: sql
      port: 1433
      targetPort: 1433             
      protocol: TCP
    - name: mongo
      port: 27017
      targetPort: 27017
      protocol: TCP
    - name: mq
      port: 8052
      targetPort: 8052
      protocol: TCP
    - name: grpc
      port: 5008
      targetPort: 5008
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}

---

apiVersion: v1 
kind: Service 
metadata:
  # this service is for the firewall daemon for clients outside of the cluster to connect to the commserve
  name: {{ include "cv.metadataname" . }}gateway
  namespace: {{ include "cv.namespace" . }}
  {{- include "cv.serviceannotations" . }}
  labels:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}gateway
spec:      
  type: {{ if .Values.serviceType }}{{ .Values.serviceType }}{{ else }}LoadBalancer{{ end }}
  ports:
    - name: cvfwd
      port: {{ include "cv.cvfwdport" . }}
      targetPort: {{ include "cv.cvfwdport" . }}
      protocol: TCP 
    - name: javaconsole
      port: 8401
      targetPort: 8401             
      protocol: TCP 
  selector:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}

---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "cv.metadataname" . }}-csport-restriction
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "cv.metadataname" . }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector: {} #Allow below ports from all namespaces as it is deny all concept
      ports:
        - port: {{ include "cv.cvfwdport" . }}
          protocol: TCP
        - port: 8401
          protocol: TCP
    - from:
        - namespaceSelector: # Allow all other ports within the same namespace
            matchLabels:
              kubernetes.io/metadata.name: {{ include "cv.namespace" . }}
      ports:
        - protocol: TCP
          port: 8052
        - protocol: TCP
          port: 5008
        - protocol: TCP
          port: 27017
        - protocol: TCP
          port: 1433
        - protocol: TCP
          port: 5000
        - protocol: TCP
          port: 8400      
          
{{- end }}
