{{- if ne .Values.create false -}}
{{ $statefulset := or .Values.statefulset ((.Values).global).statefulset }}
apiVersion: v1 
kind: Service 
metadata:
  name: {{ include "cv.metadataname" . }}
  namespace: {{ include "cv.namespace" . }}
  {{- include "cv.serviceannotations" . }}
  labels:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}
spec:      
  type: {{ if .Values.serviceType }}{{ .Values.serviceType }}{{ else if $statefulset }}ClusterIP{{ else }}LoadBalancer{{ end }}
  ports:
    - name: cvfwd
      port: {{ include "cv.cvfwdport" . }}
      targetPort: {{ include "cv.cvfwdport" . }} 
      protocol: TCP 
  selector:
    app.kubernetes.io/name: {{ include "cv.metadataname" . }}

---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "cv.metadataname" . }}-ng-restriction
  namespace: {{ include "cv.namespace" . }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "cv.metadataname" . }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector: {} 
      ports:
        - port: {{ include "cv.cvfwdport" . }} 
          protocol: TCP

{{- end }}
